[submodule "dummy-blog-root"]
	path = dummy-blog-root
	url = /Users/djump/Code/foobar/dummy-blog-root
[submodule "dummy-blog"]
	path = dummy-blog
	url = git@github.com:djeusette/dummy-blog.git
[submodule "words-generator"]
	path = words-generator
	url = git@github.com:djeusette/words-generator.git
